{% load static %}
<html>
    <head>
        <title>Lee Gyeongdo Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"  />
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        <script src="{% static 'js/topbutton.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollify.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/postJs.js' %}"></script>


    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated%}
                <a href="{% url 'post_new' %}" class="top-menu">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            {% endif %}    
            <h1><a href="/">Lee Gyeongdo Portfolio</a></h1>
            <h4>Web Developer / java / Spring / jsp / html / css / javascript / jquery / nexacro / websquare / Oracle</h4>
        </div>
        {% block content %}
        {% endblock %}

        <div style="height:500px; background-color: blueviolet;">footer</div>
    </body>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    
    <style>
      body, html { 
          margin: 0;
          padding: 0;
          height: 100%;
      }
      .bgimg {
          border: 0;
          padding: 0; 
          background-image: url("{% static 'img/dsaw.jpg' %}");
          min-height: 100%;
          background-position: center;
          background-size: cover;
      }
    </style>

</html>