{% load static %}
<html>
    <head>
        <title>Lee Gyeongdo Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"  />
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        <script src="{% static 'js/topbutton.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollify.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/postJs.js' %}"></script>


    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated%}
                <a href="{% url 'post_new' %}" class="top-menu">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            {% endif %}    
            <h1><a href="/">Lee Gyeongdo Portfolio</a></h1>
            <h4>Web Developer / java / Spring / jsp / html / css / javascript / jquery / nexacro / websquare / Oracle</h4>
        </div>
        {% block content %}
        {% endblock %}

        <!-- <div style="height:300px; background-color: #000000;">
            footer
        </div> 
        <div class="center">
            <div class="footer-group footer-group-mdn">
                <h2 class="footer-title">credits</h2>
                <ul>
                    <li>font : bebas(http://bebasfont.com/), AAARGH(http://www.tupwanders.nl)</li>
                    <li>email : venezia5933@naver.com</li>
                    <li>kakaoTalk : veneziar</li>
                    <li>openKakao : https://open.kakao.com/o/sAhgAhY </li>
                </ul>
            </div>
            <div class="footer-group footer-group-mozilla">
                <h2 class="footer-title">contact</h2>
                <ul>
                    <li>tel : 010-5674-5933</li>
                    <li>email : venezia5933@naver.com</li>
                    <li>kakaoTalk : veneziar</li>
                    <li>openKakao : https://open.kakao.com/o/sAhgAhY </li>
                </ul>
            </div>
            <p>Copyright ㉿2018 Leegyeongdo Portfolio</p> -->
            <footer role="contentinfo" id="footer" class="l-footer">
                    <div class="l-section-holder l-footer-holder footer-widget-group">
            
                        <!-- 크레딧 -->
                        <div id="credits" class="footer-widget">
                            <h2 class="footer-heading">Credits</h2>
                            <div class="footer-content">
                                <ul class="credit-list">
                                    <li class="credit-item">
                                        <div class="credit-left"><a href="https://fonts.google.com/specimen/Open+Sans" target="_blank">Open Sans</a> font</div>
                                        <span class="sr-only">by</span>
                                        <div class="credit-right">Steve Matteson</div>
                                    </li>
                                    <li class="credit-item">
                                        <div class="credit-left"><a href="https://fonts.google.com/specimen/Quicksand" target="_blank">Quicksand</a> font</div>
                                        <span class="sr-only">by</span>
                                        <div class="credit-right">Andrew Paglinawan</div>
                                    </li>
                                    <li class="credit-item">
                                        <div class="credit-left"><a href="http://www.flaticon.com/packs/creative-outlines/" target="_blank">Creative Outlines</a> iconpack</div>
                                        <span class="sr-only">by</span>
                                        <div class="credit-right">Gregor Cresnar</div>
                                    </li>
                                    <li class="credit-item">
                                        <div class="credit-left"><a href="http://sass-lang.com/">Sass</a></div>
                                        <span class="sr-only">by</span>
                                        <div class="credit-right">Hampton Catlin, Natalie Weizenbaum, Chris Eppstein and MIT</div>
                                    </li>
                                    <li class="credit-item">
                                        <div class="credit-left"><a href="http://compass-style.org/" target="_blank">Compass</a></div>
                                        <span class="sr-only">by</span>
                                        <div class="credit-right">Christopher M.Eppstein</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- 연락처 -->
                        <div id="contacts" class="footer-widget">
                            <h2 class="footer-heading">Contacts</h2>
                            <div class="footer-content">
                                <ul class="unstyled-list">
                                    <li><!--
                                        --><a href="#" title="이메일"><!--
                                            --><i class="fi icon-email"></i><!--
                                            --><span class="iconed-text">venezia5933@gmail.com</span><!--
                                        --></a><!--
                                    --></li>
                                    <li><!--
                                        --><span title="전화"><!--
                                            --><i class="fi icon-telephone"></i><!--
                                            --><span class="iconed-text">010 5674 5933</span><!--
                                        --></span><!--
                                    --></li>
                                    <li><!--
                                        --><span title="카카오톡"><!--
                                            --><i class="fi icon-speech-bubble-5"></i><!--
                                            --><span class="iconed-text">veneziar@KakaoTalk</span><!--
                                        --></span><!--
                                    --></li>
                                    <li><!--
                                        --><a href="https://github.com/gyeongdo" target="_blank" title="깃허브"><!--
                                            --><i class="fi icon-light-bulb"></i><!--
                                            --><span class="iconed-text">gitHub account</span><!--
                                        --></a><!--
                                    --></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>


        </div>
    </body>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);
      
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    
    <style>
      body, html { 
          margin: 0;
          padding: 0;
          height: 100%;
      }
      .bgimg {
          border: 0;
          padding: 0; 
          background-image: url("{% static 'img/dsaw.jpg' %}");
          min-height: 100%;
          background-position: center;
          background-size: cover;
      }
    </style>

</html>