<meta charset="UTF-8">
{% extends "blog/base.html" %}

{% block content %}
{% load static %}
      <div id="myCarousel" class="example-classname carousel slide" data-ride="carousel"> 
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1" class=""></li>
              <li data-target="#myCarousel" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
              <div class="item active"> <img src="{% static 'img/city.jpg' %}" style="width:100%" data-src="" alt="First slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h2> Headling 1 </h2>
                    <p> Description 1</p>
                  </div>
                </div>
              </div>
              <div class="item"> <img src="{% static 'img/spec.jpeg' %}" style="width:100%" data-src="" alt="Second slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h2>Headling 2</h2>
                    <p> Description 2</p>
                  </div>
                </div>
              </div>
              <div class="item"> <img src="{% static 'img/dsaw.jpg' %}" style="width:100%" data-src="" alt="Third slide">
                <div class="container">
                  <div class="carousel-caption">
                    <h2>Headling 3</h2>
                    <p> Description 3</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'post_year' %}" role="button">Learn more</a></p>
                  </div>
                </div>
              </div>
          </div>           
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

      <div class="bgimg">
        <div id="introduction" class="l-section l-split">
            <section role="region" id="myself" class="l-section">
                <div class="l-section-inner is-init is-animated" data-animation="zoom-in-right">
                    <h2 class="section-heading">
                        <span class="secondary">Intro</span>
                        <span class="primary">About myself</span>
                    </h2>
                    <div class="section-content">
                        <p>안녕하세요. 90년생 개발자 이경도입니다.</p>
                        <p>항상 재밌는 일, 즐기면서 할 수 있는 일을 고민했고 프로그래밍 하며 일을 할 수 있다는 것이 행운이라고 생각하는 개발자입니다.</p>
                        <p>전공은 부동산이지만 늦게 프로그래밍에 입문한 만큼 남들보다 열심히 코딩하고 있습니다.</p>
                        <p>새로운 기술, 새로운 언어를 배울때마다 항상 설레고 기쁩니다. 새로운 기술로 더 나은 서비스를 개발하는 모습을 항상 꿈꿉니다.</p>
                    </div>
                </div>
            </section>
            <section role="region" id="skills" class="l-section">
                <div class="l-section-inner is-init is-animated" data-animation="zoom-in-left">
                    <h2 class="section-heading">
                        <span class="secondary">Skills</span>
                        <span class="primary">What I can do</span>
                    </h2>
                    <div class="section-content">
                        <figure>
                            <figcaption class="list-caption">JAVA</figcaption>
                            <ul class="skill-list checked-list">
                                <li>스프링 전자정부프레임워크 개발</li>
                                <li>....</li>
                            </ul>
                        </figure>
                        <figure>
                            <figcaption class="list-caption">DB</figcaption>
                            <ul class="skill-list checked-list">
                                <li>Orcle, Altibase 프로젝트 경험</li>
                                <li>....</li>
                            </ul>
                        </figure>
                        <figure>
                            <figcaption class="list-caption">HTML</figcaption>
                            <ul class="skill-list checked-list">
                                <li>HTML5 및 XHTML 페이지 하드코딩</li>
                                <li>웹 접근성 (Native)</li>
                            </ul>
                        </figure>
                        <figure>
                            <figcaption class="list-caption">CSS</figcaption>
                            <ul class="skill-list checked-list">
                                <li>반응형 레이아웃 (부트스트랩 가능)</li>
                                <li>브라우저 호환성 관리</li>
                            </ul>
                        </figure>
                        <figure>
                            <figcaption class="list-caption">JavaScript</figcaption>
                            <ul class="skill-list checked-list">
                                <li>jQuery 1~3, jQuery UI, Library</li>
                                <li>AJAX</li>
                                <li>RegExp</li>
                            </ul>
                        </figure>
                    </div>
                </div>
            </section>
        </div>
      </div>





        <!-- 프로포트폴리오 -->
        <section role="region" id="works2" class="l-section">
            <div class="l-section-holder">
                <h2 class="section-heading is-init is-animated" data-animation="fade-up">
                    <span class="secondary">Portfolio</span>
                    <span class="primary">My works</span>
                </h2>
                
                <div id="portfolio" class="section-content gallery alternate">
                    <article role="article" id="work1" class="gallery-item is-init is-animated" data-animation="fade-left">
                        <figure role="group" class="gallery-figure">
                            <div class="gallery-image">
                                <img class="gallery-image-thumb" src="{% static 'img/foodAdministry.PNG' %}" alt="커뮤니티 사이트 에펨코리아" aria-describedby="work1Description">
                            </div>
                            <figcaption class="gallery-caption">
                                <h3 class="gallery-title">식품의약품안전처 SI 개발 사업(2016~2018)</h3>
                                <ul class="gallery-spec">
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">2016 의약품 유지보수</strong> <span class="gallery-spec-value"></span></li>
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">2017 식품의약품안전처 통합안전망 고도화 사업</strong> <span class="gallery-spec-value"></span></li>
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">2018 식품의약품안전처 의약품 차세대 사업</strong> <span class="gallery-spec-value"></span></li>
                                </ul>
                                <div id="work1Description">
                                    <p><a href="/">스프링 전자정부 프레임워크</a>를 이용하여 웹 어플리케이션을 만들었습니다.</p>
                                    <p>JAVA, jsp, jQuery, html, css, spring을 사용하였으며 간단한 테이블 설계와 분석을 진행하면서 si를 경험하였습니다.</p>
                                </div>
                                <div class="ui-group">
                                    <a role="button" class="ui-button" href="/">Githup</a>
                                </div> 
                            </figcaption>
                        </figure>
                        <!-- <table class="gallery-table">
                            <thead>
                                <tr>
                                    <th class="gallery-table-col category">Category</th>
                                    <th class="gallery-table-col source">Source</th>
                                    <th class="gallery-table-col keywords">Related keywords</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-th="Category"><span class="categ html">HTML</span></td>
                                    <td data-th="Source"><a href="#" target="_blank">index.html</a></td>
                                    <td data-th="Related Keywords">HTML5</td>
                                </tr>
                                <tr>
                                    <td data-th="Category"><span class="categ css">CSS</span></td>
                                    <td data-th="Source">bootstrap-custom.css</a></td>
                                    <td data-th="Related Keywords">Responsive, Bootstrap</td>
                                </tr>
                                <tr>
                                    <td data-th="Category"><span class="categ js">JS</span></td>
                                    <td data-th="Source"><a href="#" target="_blank">main.js</a></td>
                                    <td data-th="Related Keywords">JavaScript, jQuery 3</a></td>
                                </tr>
                            </tbody>
                        </table> -->
                    </article>


                </div>
            </div>

        </section>


















        <section role="region" id="works" class="l-section">
            <div class="l-section-holder">
                <h2 class="section-heading is-init is-animated" data-animation="fade-up">
                    <span class="secondary">Portfolio</span>
                    <span class="primary">My works</span>
                </h2>
                
                <div id="portfolio" class="section-content gallery alternate">
                    <article role="article" id="work1" class="gallery-item is-init is-animated" data-animation="fade-left">
                        <figure role="group" class="gallery-figure">
                            <div class="gallery-image">
                                <img class="gallery-image-thumb" src="{% static 'img/instaClone.PNG' %}" alt="커뮤니티 사이트 에펨코리아" aria-describedby="work1Description">
                            </div>
                            <figcaption class="gallery-caption">
                                <h3 class="gallery-title">인스타그램 클론 코딩</h3>
                                <ul class="gallery-spec">
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">Django Restframework</strong> <span class="gallery-spec-value">postgre</span></li>
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">React</strong> <span class="gallery-spec-value">redux, thunk</span></li>
                                </ul>
                                <div id="work1Description">
                                    <p><a href="/">인스타그램</a>클론 코딩을 진행하면서 좋아요, 댓글, 로그인 기능을 구현했습니다</p>
                                    <p>퇴사 후 인터넷 강의와 스터디를 통해 리액트를 독학하였습니다. 새로운 기술을 배우는게 항상 기대되고 즐거워 시작하게 되었고
                                       퇴사 후 남는시간 내가 원하는 개발에 집중할 수 있어 재밌게 개발을 하였습니다.
                                       특히 그동안 restful한 개발의 개념을 글로만 익혔는데 직접 프론트와 백엔드를 구분하여 개발을 해보니 구조를 더 배우게 되어 좋았습니다.
                                       
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                        {% comment %} <table class="gallery-table">
                            <thead>
                                <tr>
                                    <th class="gallery-table-col category">Category</th>
                                    <th class="gallery-table-col source">Source</th>
                                    <th class="gallery-table-col keywords">Related keywords</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-th="Category"><span class="categ html">HTML</span></td>
                                    <td data-th="Source"><a href="#" target="_blank">index.html</a></td>
                                    <td data-th="Related Keywords">HTML5</td>
                                </tr>
                                <tr>
                                    <td data-th="Category"><span class="categ css">CSS</span></td>
                                    <td data-th="Source">bootstrap-custom.css</a></td>
                                    <td data-th="Related Keywords">Responsive, Bootstrap</td>
                                </tr>
                                <tr>
                                    <td data-th="Category"><span class="categ js">JS</span></td>
                                    <td data-th="Source"><a href="#" target="_blank">main.js</a></td>
                                    <td data-th="Related Keywords">JavaScript, jQuery 3</a></td>
                                </tr>
                            </tbody>
                        </table> {% endcomment %}
                    </article>



                </div>
            </div>
        </section>

        <!-- 프로포트폴리오 -->
        <section role="region" id="works1" class="l-section">
            <div class="l-section-holder">
                <h2 class="section-heading is-init is-animated" data-animation="fade-up">
                    <span class="secondary">Portfolio</span>
                    <span class="primary">My works</span>
                </h2>
                
                <div id="portfolio" class="section-content gallery alternate">
                    <article role="article" id="work1" class="gallery-item is-init is-animated" data-animation="fade-left">
                        <figure role="group" class="gallery-figure">
                            <div class="gallery-image">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rpdUFEFgw3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <figcaption class="gallery-caption">
                                <h3 class="gallery-title">파이썬 셀레니움</h3>
                                <ul class="gallery-spec">
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">python3</strong> <span class="gallery-spec-value"></span></li>
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">selenium</strong> <span class="gallery-spec-value"></span></li>
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">크롤링</strong> <span class="gallery-spec-value"></span></li>
                                </ul>
                                <div id="work1Description">
                                    <p><a href="{% url 'post_fmkorea' %}">파이썬</a>을 이용하여 셀레니움을 사용하여 자동 주문을 해보았습니다.</p>
                                </div>
                                <div class="ui-group">
                                    <a role="button" class="ui-button" href="https://github.com/gyeongdo">Githup</a>
                                </div> 
                            </figcaption>
                        </figure>
                    </article>

                </div>
            </div>

<!-- 프로포트폴리오 -->
        <section role="region" id="works1" class="l-section">
            <div class="l-section-holder">
                <h2 class="section-heading is-init is-animated" data-animation="fade-up">
                    <span class="secondary">Portfolio</span>
                    <span class="primary">My works</span>
                </h2>
                
                <div id="portfolio" class="section-content gallery alternate">
                    <article role="article" id="work1" class="gallery-item is-init is-animated" data-animation="fade-left">
                        <figure role="group" class="gallery-figure">
                            <div class="gallery-image">
                                <img class="gallery-image-thumb" src="{% static 'img/ios.jpg' %}" alt="문제적퀴즈 앱" aria-describedby="work1Description"
                                style="height:500px;"
                               >
                            </div>
                            <figcaption class="gallery-caption">
                                <h3 class="gallery-title">문제적퀴즈 네이티브앱</h3>
                                <ul class="gallery-spec">
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">안드로이드 스튜디오</strong> <span class="gallery-spec-value"></span></li>
                                    <li class="gallery-spec-item"><strong class="gallery-spec-key">xcode</strong> <span class="gallery-spec-value"></span></li>
                                </ul>
                                <div id="work1Description">
                                    <p>
                                        <a href="https://play.google.com/store/apps/details?id=com.Lee.mattew.gyeongdo">안드로이드</a>
                                        기준 다운로드 수 1만의 앱을 취미로 개발하였습니다. 평소에 취미가 개발이여서 이것저것 재밌는 개발을 해보고 싶어서
                                        튜토리얼에 그치지 않고 바로 만든 앱 입니다. 퇴근 후 시간을 쪼개서 만들기 시작한 것이 도움이 되어 회사의
                                        조그만 앱을 유지보수할 때도 많은 도움이 되었습니다.
                                        또한 ios앱도 출시를 마친 상태입니다.
                                        물론 앱 개발자라고 말하긴 어렵지만 간단한 유지보수 정도는 가능한 수준입니다.
                                    </p>
                                </div>
                                <div class="ui-group">
                                    <a role="button" class="ui-button" href="https://github.com/gyeongdo">Githup</a>
                                </div> 
                            </figcaption>
                        </figure>
                    </article>

                </div>
            </div>
            
            {% comment %} {% for post in post_list %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
            </div>
            {% endfor %} {% endcomment %}


        </section>






{% endblock %}