h1 a {
    color: #cca772;
    font-family: 'BEBAS';
}

.page-header {
    background-color: #cca772 !important;
    margin: 0 !important; 
    padding: 20px 20px 20px 40px !important;
    border-bottom:0px !important;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'AAARGH';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.view {
    height: 1000px;
}

#myself{
    background:#71868f;
    text-align:right;
}

#skills{
    background:#18627c;
    text-align:left;
}

.l-section.l-split{
    display:table;
    width:100%;
    padding:0;
    border-spacing:0;
    table-layout:fixed;
}

p,dl,ol,ul{word-break:keep-all;}

.l-section{background:white}

.l-section{min-height:100vh;padding:15vh 100px;position:relative;box-sizing:border-box;}

.l-section.l-split > .l-section {display:table-cell;}

.section-heading .primary{display:block;font-size:64px;padding-bottom:.25em;position:relative;}

/* .section-heading .primary::after{background:#30b7e8;border-radius:.25em;display:block;width:1.25em;height:2px;margin-left:-.625em;position:absolute;bottom:0;left:8%;content:"";} */

#myself,#skills{color:white;width:50%}

#myself .section-content{margin-left:auto;max-width:35em}

#myself .section-heading .primary::after{margin:0;right:0; left:auto; }

.section-content > p {margin-top:20px;}

@media screen and (max-width: 1259px){
    .l-section.l-split{display:block}.l-section.l-split>.l-section{display:block;width:100% !important;}
}



/* what i can do */
@media screen and (max-width: 640px)
{
    .section-heading .primary {
        font-size: 39px;
    }
}

@media screen and (max-width: 1499px)
{    
    .l-section {
        padding: 100px 5vw;
    }
}

/* 포트폴리오 메인 */

.gallery-image-thumb {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.gallery-image {
    max-width: 800px;
}

.gallery-figure {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

.gallery-caption {
    margin-left: 2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.gallery-title {
    position: relative;
    margin-bottom: 1.5em;
}

.gallery-spec {
    margin: 2em 0;
    padding: 0;
}

.gallery-spec-item {
    display: block;
    line-height: 2.4;
}

.ui-group {
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}

.gallery-title::before {
    color: #30b7e8;
    display: inline-block;
    width: 130px;
    position: relative;
    left: -0.05em;
    vertical-align: -0.1em;
    line-height: 1;
    font-size: 64px;
    font-weight: 400;
    content: counter(article,decimal-leading-zero);
}

.ui-button {
    background: #30b7e8;
    border-radius: 44px;
    color: white;
    display: inline-block;
    min-width: 7em;
    height: 44px;
    margin: 0;
    overflow: hidden;
    padding: 12px 16px 14px;
    vertical-align: middle;
    letter-spacing: -.03em;
    line-height: 18px;
    font-family: "Quicksand",sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

.gallery-table {
    -webkit-box-flex: 1;
    width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 100%;
}

table thead {
    font-family: "Quicksand",sans-serif;
}

table thead {
    font-family: "Quicksand",sans-serif;
}

.gallery-table-col.category {
    width: 6em;
}

table thead th {
    background-color: rgba(77,128,153,0.05);
    border-top-width: 1px;
    color: #94979c;
    padding: 1.2em 1em;
}

table th, table td {
    border-bottom: 1px solid #e6e9ea;
    padding: .3em 1em;
    text-align: left;
}

table caption, table th {
    font-weight: 500;
    text-align: left;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.categ.html {
    background: #8dca35;
    color: white;
}

.categ.css {
    background: #00bfdd;
    color: white;
}

.categ.js {
    background: #ff702a;
    color: white;
}

.categ {
    border-radius: .25em;
    display: inline-block;
    min-width: 2em;
    padding: .35em .65em;
    line-height: 1;
    font-family: "Quicksand",sans-serif;
    font-size: .92rem;
    text-align: center;
}



/* footer */

/*
    @media all and (min-width:768px) and (max-width:1024px) { … } 
    // 뷰포트 너비가 768px 이상 ‘그리고’ 1024px 이하이면 실행 
*/

.footer-widget-group{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
}
.footer-widget {
    flex: 1 auto;
    padding: 1em 3em 1em 0;
}
.l-footer-holder {
    padding-left: 100px;
    padding-right: 100px;
}
.l-section-holder {
    max-width: 1320px;
    margin: 0 auto;
}
.footer-content {
    margin-top: 2rem;
    font-family: "Quicksand",sans-serif;
}
#footer, #footer a {
    color: white;
}
#footer {
    background: #282a2f;
}


@media screen and (max-width: 959px)
{    
    .footer-widget-group {
        display: block;
    }
    .footer-widget {
        padding: 1em;
    }
    .l-footer-holder {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .credit-left {
        padding: 0 10px 0 0;
        text-align: right;
    }
    .credit-left, .credit-right {
        width: 50%;
        margin: 0;
    }
    .credit-right {
        padding: 0 0 0 10px;
    }
    .credit-left, .credit-right {
        width: 50%;
        margin: 0;
    }
}

a {
    background-color: transparent;
    color: #30b7e8;
    text-decoration: none;
    cursor: pointer;
}

.credit-right {
    margin-left: 1em;
    opacity: .66;
}
.credit-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.credit-item {
    display: flex;
    flex-flow: row nowrap;
}

@media screen and (max-width: 1259px)
{
    .l-section-holder {
        max-width: 800px;
    }
}   

