

@media ( max-width: 1000px ) {
  body { color: red; }
}

h1 a {
    color: #cca772;
    font-family: 'BEBAS';
}

.page-header {
    background-color: #cca772;
    margin: 0; 
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'AAARGH';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.view {
    height: 1000px;
}

#myself{
    background:#71868f;
    text-align:right;
}

#skills{
    background:#18627c;
    text-align:left;
}

.l-section.l-split{
    display:table;
    width:100%;
    padding:0;
    border-spacing:0;
    table-layout:fixed;
}

p,dl,ol,ul{word-break:keep-all;}

.l-section{background:white}

.l-section{min-height:100vh;padding:15vh 100px;position:relative;box-sizing:border-box;}

.l-section.l-split > .l-section {display:table-cell;}

.section-heading .primary{display:block;font-size:64px;padding-bottom:.25em;position:relative;}

.section-heading .primary::after{background:#30b7e8;border-radius:.25em;display:block;width:1.25em;height:2px;margin-left:-.625em;position:absolute;bottom:0;left:8%;content:"";}

#myself,#skills{color:white;width:50%}

#myself .section-content{margin-left:auto;max-width:35em}

#myself .section-heading .primary::after{margin:0;right:0; left:auto; }

.section-content > p {margin-top:20px;}

@media screen and (max-width: 1259px){.l-section.l-split{display:block}.l-section.l-split>.l-section{display:block;width:100% !important;}

